<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img
        src="../../assets/img/TeLlevoApp.png"
        alt="" srcset="">
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login de Acceso</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <br>
    <h1>Login </h1>
</ion-content>



  <!-- instalación angular
 ng version
 npm install -g @angular/cli
 ng version
 ng add @angular/material-->